html {
	box-sizing: border-box;
}
*, *::before, *::after {
	box-sizing: inherit;
}
body {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
}
a {
	display: inline-block;
	text-decoration: none;
}
ul, li {
	margin: 0;
	padding: 0;
	list-style: none;
}
.container {
	max-width: 1170px;
	width: 100%;
	padding: 0 15px;
	margin: 0 auto;
}
.container-fluid {
	max-width: 1920px;
	padding: 0px 70px;
	width: 100%;
	margin: 0 auto;
}
.header {
	padding-top: 70px;
	min-height: 1100px;
	position: relative;
	background-image: url(../images/header_bg.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.header__top {
	display: flex;
	height: 70px;
	max-width: 1375px;
	width: 100%;
	align-items: center;
	justify-content: space-between;
	position: relative;
}
nav {
	justify-content: center;
}
.header__menu li {
	display: inline-block;
}
.header__menu li + li {
	margin-left: 50px;
}
.header__menu li a {
	text-transform: uppercase;
	font-weight: 700;
	font-style: italic;
	font-size: 22px;
	color: #fff;
	padding: 17px 0;
	border-bottom: 3px solid transparent;
}
.header__menu li a:hover {
	color: #f1ac11;
	border-color: #f1ac11;
	transition: all .5s;
}
.header__content {
	display: flex;
	justify-content: space-between;
	margin-top: 325px;
}
.header__item {
	background-image: url(../images/header_bg-menu.png);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	max-width: 375px;
	width: 100%;
	height: 205px;
	text-align: center;
	padding: 30px;
	text-transform: uppercase;
	opacity: 0.55;
}
.header__inner:hover .header__item {
	opacity: 1;
	transition: all .5s;
	transform: translateY(-50px);
}
.header__item-title {
	font-weight: 700;
	font-size: 38px;
	color: #000;
}
.header__item-link {
	max-width: 140px;
	width: 100%;
	padding: 10px;
	font-size: 12px;
	color: #000;
	background-color: #c79c46;
	margin-top: 25px;
}
.header__list {
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	z-index: 7;
	cursor: pointer;
	display: none;
}
.list {
	width: 50px;
	height: 10px;
	margin-bottom: 5px;
	border-radius: 4px;
	background-color: #f1ac11;
}
.menu {
	padding: 75px 0px 80px;
}
.menu__title {
	width: 235px;
	margin: 0 auto;
	text-transform: uppercase;
	font-size: 42px;
	color: #f1ac11;
	font-style: italic;
}
.menu__show {
	font-size: 14px;
	font-style: italic;
	color: #2b2b2b;
	text-transform: uppercase;
	padding-left: 30px;
	position: relative;
	margin: 40px 0;
}
.menu__show::before {
	content: '';
	position: absolute;
	background-image: url(../images/check.png);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	width: 10px;
	height: 10px;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
}
.menu__inner {
	display: flex;
	justify-content: space-between;
}
.menu__items {
	max-width: 410px;
	width: 100%;
}
.menu__item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 40px;
}
.menu__item-img {
	width: 78px;
	height: 78px;
	border-radius: 50%;
}
.menu__item-content {
	max-width: 300px;
	width: 100%;
	display: flex;
	flex-direction: column;
	text-transform: uppercase;
}
.menu__item-name {
	font-size: 18px;
	color: #2b2b2b;
	position: relative;
}
.menu__item-text {
	position: relative;
	background-color: #fff;
	z-index: 5;
	width: max-content;
	padding-right: 3px;
}
.menu__item-coin {
	position: absolute;
	width: 44px;
	height: 27px;
	background-image: url(../images/coin-bg.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	right: 0;
	top: 0;
	text-align: center;
	font-weight: 700;
	font-size: 14px;
	color: #2b2b2b;
	padding-top: 5px;
	z-index: 6;
}
.menu__item-alergen {
	font-size: 13px;
	color: #bcbcbc;
	font-style: italic;
	text-transform: uppercase;
	margin-top: 18px;
	position: relative;
}
.menu__item-num {
	position: absolute;
	right: 0;
	bottom: -1px;
	z-index: 6;
	padding-left: 3px;
	background-color: #fff;
}
.menu__item-dots, .menu__item-alerdots {
	position: absolute;
	bottom: 4px;
	border-bottom: 1px dotted #2b2b2b;
	width: 100%;
	height: 2px;
	z-index: 4;
}
.menu__item-alerdots {
	border-bottom: 1px dotted #bcbcbc;
}
.menu__item-dots {
	right: 50px;
	width: 230px;
}
.menu__slider-box {
	max-width: 100%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	min-height: 380px;
}
.menu__slider-inner {
	margin-left: 50%;
	padding: 25px 70px 27px 30px;
}
.menu__slider-suptitle {
	color: #f1ac11;
	text-transform: uppercase;
	font-size: 12px;
	font-style: italic;
	margin-bottom: 15px;
}
.menu__slider-title {
	font-size: 24px;
	text-transform: uppercase;
	font-style: italic;
	color: #2b2b2b;
	margin-bottom: 23px;
	max-width: 295px;
	width: 100%;
}
.menu__slider-text {
	font-size: 14px;
	font-style: italic;
	color: #d4d4d4;
	margin-bottom: 25px;
	max-width: 345px;
}
.menu__slider-btn {
	max-width: 100px;
	padding: 11px;
	font-size: 14px;
	font-style: italic;
	text-transform: uppercase;
	color: #2b2b2b;
	background-color: #f1ac11;
	text-align: center;
	border: none;
	border-radius: 2px;
	border-bottom: 2px solid #b47d00;
	cursor: pointer;
}
.menu__slider {
	position: relative;
}
.slick-disabled {
  display: none !important;
}
.slick-btn {
	position: absolute;
	max-width: 90px;
	text-transform: uppercase;
	font-size: 12px;
	font-style: italic;
	color: #f1ac11;
	text-align: left;
	border: none;
	background-color: transparent;
	top: 50%;
	transform: translateY(-50%);
	z-index: 7;
	outline: none;
}
.slick-btn::before {
	content: '';
	width: 10px;
	height: 18px;
	background-image: url(../images/arrow.png);
	position: absolute;
	right: 0;
	top: -2px;
}
.slick-next {
	right: -115px;
	padding-right: 24px;
}
.slick-prev {
	left: -115px;
	padding-left: 24px;
}
.slick-prev::before {
	left: 0;
	transform: rotate(180deg);
}
.slick-dots {
	text-align: center;
	margin-top: 15px;	
}
.slick-dots li {
	display: inline-block;
}
.slick-dots li + li {
	margin-left: 10px;
}
.slick-dots li button {
	font-size: 0;
	background-color: #f1ac11;
	border: none;
	width: 15px;
	height: 15px;
	border-radius: 50%;
}
.slick-dots li.slick-active button {
	width: 20px;
	height: 20px;
}
.find {
	background-image: url(../images/find-bg.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	padding-top: 80px;
	padding-bottom: 80px;
}
.find__box {
	background-image: url(../images/find-modal.png);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	max-width: 570px;
	width: 100%;
	height: 330px;
	margin: 0 auto;
	padding: 65px;
	text-align: center;
	color: #000;
}
.find__title {
	font-size: 28px;
	font-style: italic;
	margin-bottom: 40px;
}
.find__content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 40px;
	margin-bottom: 40px;
}
.find__logo {
	display: flex;
	max-width: 225px;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	font-size: 22px;
	margin-right: 15px;
}
.find__text {
	font-size: 18px;
	font-style: italic;
	text-align: left;
}
.find__btn {
	max-width: 130px;
	font-style: italic;
}
.footer {
	background-image: url(../images/footer-bg.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	padding-top: 75px;
	padding-bottom: 75px;
}
.footer__inner {
	display: flex;
	justify-content: space-between;
}
.footer__items {
	display: flex;
	justify-content: space-between;
	max-width: 520px;
	width: 100%;
}
.footer__title {
	font-size: 22px;
	font-style: italic;
	color: #fff;
	text-transform: uppercase;
	margin-bottom: 25px;
	text-align: center;
}
.footer__item-list a {
	font-size: 17px;
	color: #bbb;
	text-transform: uppercase;
	font-style: italic;
	cursor: pointer;
}
.footer__form input {
	padding: 9px;
	width: 223px;
	border: none;
	color: #fff;
	background-color: rgba(255, 255, 255, 0.4);
}
.footer__form input::placeholder {
	font-size: 12px;
	font-style: italic;
	color: #fff;
	text-transform: uppercase;
}
.footer__btn {
	max-width: 90px;
	margin-left: 23px;
}




@media(max-width: 1350px) {
	.header__content {
		flex-direction: column;
		align-items: center;
	}
	.header__inner {
		margin-bottom: 50px;
	}
}
@media(max-width: 1130px) {
	.header__menu {
		display: none;
		position: absolute;
		top: 70px;
		right: 0;
		width: 100%;
		text-align: center;
	}
	.header__menu li {
		display: block;
	}
	.header__menu li + li {
		margin-left: 0;
	}
	.header__list {
		display: block;
	}
@media(max-width: 920px) {
	.menu__inner {
		flex-direction: column;
	}
	.menu__items {
		margin: 0 auto;
	}
	.footer__inner {
		flex-direction: column;
		align-items: center;
	}
	.footer__items {
		margin-bottom: 30px;
	}
}
@media(max-width: 840px) {
	.menu__slider .menu__slider-box {
		background-image: none;
	}
	.menu__slider-inner {
		margin-left: 0;
		text-align: center;
		padding-right: 30px;
	}
	.menu__slider-title, .menu__slider-text {
		margin: 0 auto 25px;
	}
}
@media(max-width: 650px) {
	.header__top {
		justify-content: center;
	}
	.header__list {
		display: block;
		right: -50px;
    	top: -30px;
	}
}
@media(max-width: 550px) {
	.find__content {
		justify-content: center;
	}
	.find__logo {
		display: none;
	}
	.footer__items {
		flex-direction: column;
		align-items: center;
	}
	.footer__item {
		text-align: center;
		margin-bottom: 20px;
	}
}
@media(max-width: 450px) {
	.header__item-title {
		font-size: 30px;
	}
	.menu__item {
		flex-direction: column;
	}
	.menu__item-img {
		margin-bottom: 20px;
	}
}
@media(max-width: 400px) {
	.find__title {
		font-size: 21px;
	}
}
@media(max-width: 380px) {
	.footer__form input {
		width: 100%;
		margin-bottom: 20px;
	}
	.footer__btn {
		margin: 0 auto;
		display: block;
	}
}
@media(max-width: 340px) {
	.menu__item-name {
		font-size: 16px;
	}
	.menu__item-dots {
		width: 200px;
	}
}









@media(min-width: 1130px) {
	.header__menu {
		display: block !important;
	}
}